[submodule "ds-cheatsheets"]
	path = ds-cheatsheets
	url = git@github.com:shrysr/ds-cheatsheets.git
[submodule "hugo-sr"]
	path = hugo-sr
	url = git@github.com:shrysr/hugo-sr.git
[submodule "scimax-gh"]
	path = scimax-gh
	url = git@github.com:shrysr/scimax
[submodule "hadley-stats337"]
	path = stats337
	url = https://github.com/hadley/stats337.git
[submodule "DataScienceR"]
	path = DataScienceR
	url = https://github.com/ujjwalkarn/DataScienceR.git
[submodule "awesome-R"]
	path = awesome-R
	url = https://github.com/qinwf/awesome-R.git
[submodule "my-awesome-AI-bookmarks"]
	path = my-awesome-AI-bookmarks
	url = https://github.com/goodrahstar/my-awesome-AI-bookmarks.git
[submodule "awesome-rshiny"]
	path = awesome-rshiny
	url = https://github.com/grabear/awesome-rshiny.git
[submodule "Awesome-shiny-apps-for-statistics"]
	path = Awesome-shiny-apps-for-statistics
	url = https://github.com/huyingjie/Awesome-shiny-apps-for-statistics.git
[submodule "For-Data-Science-Beginners"]
	path = For-Data-Science-Beginners
	url = https://github.com/amrrs/For-Data-Science-Beginners.git
