[submodule "ds-cheatsheets"]
	path = ds-cheatsheets
	url = git@github.com:shrysr/ds-cheatsheets.git
[submodule "hugo-sr"]
	path = hugo-sr
	url = git@github.com:shrysr/hugo-sr.git
[submodule "scimax-gh"]
	path = scimax-gh
	url = git@github.com:shrysr/scimax
[submodule "hadley-stats337"]
	path = stats337
	url = https://github.com/hadley/stats337.git
[submodule "DataScienceR"]
	path = DataScienceR
	url = https://github.com/ujjwalkarn/DataScienceR.git
[submodule "awesome-R"]
	path = awesome-R
	url = https://github.com/qinwf/awesome-R.git
[submodule "my-awesome-AI-bookmarks"]
	path = my-awesome-AI-bookmarks
	url = https://github.com/goodrahstar/my-awesome-AI-bookmarks.git
[submodule "awesome-rshiny"]
	path = awesome-rshiny
	url = https://github.com/grabear/awesome-rshiny.git
[submodule "Awesome-shiny-apps-for-statistics"]
	path = Awesome-shiny-apps-for-statistics
	url = https://github.com/huyingjie/Awesome-shiny-apps-for-statistics.git
[submodule "awesome-data-science"]
	path = awesome-data-science
	url = git@github.com:sragavan88/awesome-data-science.git
[submodule "awesome-public-datasets"]
	path = awesome-public-datasets
	url = git@github.com:sragavan88/awesome-public-datasets.git
[submodule "awesome-awesome"]
	path = awesome-awesome
	url = git@github.com:sragavan88/awesome-awesome.git
[submodule "alexpghayes-workshops"]
	path = alexpghayes-workshops
	url = https://github.com/alexpghayes/workshops_presentations.git
[submodule "novels-barbossa"]
	path = org
	url = https://github.com/eubarbosa/novels.org.git
[submodule "novels-barbosa"]
	path = novels-barbosa
	url = https://github.com/eubarbosa/novels.org.git
